<div class="manage row">
    <div class="form-horizontal col-lg-8 col-lg-offset-2">
        <h2 class="text-center text-danger">文章编辑</h2>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="note.title" required autofocus placeholder="请输入标题">
        </div>
        <div class="form-group">
            <textarea class="form-control" ng-model="note.content" rows="10" placeholder="请输入内容" required></textarea>
        </div>
        <div class="form-group">
            <a class="btn btn-lg btn-primary" ng-click="saveNote()">保存</a>
        </div>
    </div>
</div>