.icon_switch-off,.icon_switch-on,.icon_tip-error,.icon_tip-ok,.icon_tip-warn,.icon_wait, {
background-image: url(../images/sprite.png?t=1479374849339);
}



.icon_switch-off {
background-image: url(../images/sprite.png?t=1479374849339);
background-position: 0px 0px;
width: 71px;
height: 29px;
}
.icon_switch-on {
background-image: url(../images/sprite.png?t=1479374849339);
background-position: 0px -29px;
width: 71px;
height: 29px;
}
.icon_tip-error {
background-image: url(../images/sprite.png?t=1479374849339);
background-position: -71px 0px;
width: 24px;
height: 24px;
}
.icon_tip-ok {
background-image: url(../images/sprite.png?t=1479374849339);
background-position: -71px -24px;
width: 24px;
height: 24px;
}
.icon_tip-warn {
background-image: url(../images/sprite.png?t=1479374849339);
background-position: 0px -58px;
width: 24px;
height: 24px;
}
.icon_wait {
background-image: url(../images/sprite.png?t=1479374849339);
background-position: -24px -58px;
width: 14px;
height: 14px;
}

